.contactSectionContainer {
    text-align: center;
    padding-bottom: 50px;
}

span {
    font-size: 14px;
    color: #a3a3a3;
}

.contactSectionContainer p:nth-child(2) {
    font-size: 45px;
    margin: 10px 20px 10px 20px;
}

.formGroup {
    position: relative;
    width: 560px;
    margin: auto;
}

.input {
    width: 560px;
    height: 42px;
}

.formGroup label {
    position: absolute;
    top: 30%;
    right: 2%;
    cursor: pointer;
}

.errorMessage{
    margin-top: 10px;
    color: red;
}